body {padding-top: 20px;}

footer {
  /* forcer l’affichage sous le contenu et la colonne */
  clear:both;
}


#configFrame iframe,  #messageHelpFrame iframe {
	height: 100%;
	width: 100%; 
	display: block;
	background-color: #fff;
	padding: 0px;
	bottom: 0px;
	margin: 0px;

}
/*
*  CSS gestion du drag and DROP avec Jquerry-UI         
*
*/
#sortable1, #sortable2 {
	border 			: 1px solid #ccc;
	list-style-type	: none;
	margin 			: 0;
	padding 		: 2px 0 4px 0;
	margin-right 	: 1px;
	float 			: left;
	width 			: 49%;
	border-radius	: 7px;
}

.panel-primary:hover{
	cursor : move;
}
.panel-primary div img:hover{
	cursor : initial;
}

.buildWithSubMenu select {
	color 			: #0000FF;
	
}

#groupe{
	background-color 	: #020202;
	border 				: 1px solid #e0e0e0;
	border-radius		: 10px;
}

.tooltip{
	position 			: absolute;
	left				: -2000px;
	background-color	: #020202;
	padding 			: 5px;
	border 				: 1px solid #fff;
	min-width			: 100px;
	min-height			: 50px;
	border-radius		: 10px;
}

.underline {
	font-weight		: bold;
	text-decoration	: underline;
}

/*
* Gestion du déplacement de la zone de graphe
*/
.nav-switch {
  border-left		: 20px red solid;
  border-image		: linear-gradient(to right,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%) 1 100%; 
  }

.nav-switch-pointer {
  border: 0px dotted yellow;
  width: 10px!important;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  float: left;
  clear: none;
}

.nav-col  {
	padding-right 	: 1px;
	overflow:hidden;
}

#flecheDroite {
 position:absolute;
  top:15px;
  left:4px;
  width:30px;
  height:30px;
}


#flecheGauche {
 position:absolute;
  top:2px;
  left:3px;
  width:30px;
  height:30px;

}